node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

.dockerignore
Dockerfile*

.env

logs/
*.log

dist/
build/
.cache/

.DS_Store
Thumbs.db

.vscode/
.idea/

package-lock.json
ReponseQuestion.txt
